.image {
  max-width: 150px;
}

.cursorPointer {
  cursor: pointer;
}

.wrapper {
  max-height: 500px;
  overflow-y: scroll;
}

.imagesListHeader {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imagesListHeader > span {
  color: green;
}
